name: Docker CI

on:
  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t demo-app .

      - name: Test container
        run: docker run --rm demo-app echo "Container OK"
